{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Login </title>
		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<body bgcolor="#DFCB96">
	</head>
	<body>
		<div class="login-box">
		
      	<h1>Bienvenid@</h1>
      	<form method="POST" class="formulario">{% csrf_token %}
				{{form.errors}}
        <!-- USERNAME INPUT -->
        <label for="username"> Usuario </label>
        <input class="controls" type="text" name="username" placeholder="Usuari@">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input class="controls" type="password" name="password" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <a href="{% url 'primera_vista' %}"> Clik aqui para volver al Inicio </a>
      </form>
    </div>
	</body>
</html>
			
			
			
		

