{% extends 'Base.html' %}

{% block contenido %}

<h2>Blog</h2>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque beatae possimus, excepturi totam quaerat illum doloribus explicabo aliquam sint amet veniam. Magni vitae omnis aut quaerat! Mollitia quibusdam facilis explicabo.
	Consequuntur officia nisi quos esse dolore cumque velit, doloribus earum error ipsa, est repellat, incidunt libero sequi quo sint omnis magni dicta distinctio! Voluptate, quasi? Quod odio aspernatur accusamus velit.
</p>
	
{% endblock contenido %}
